{% extends "avalon/base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/pricelist.css'%}" media="screen">{% endblock %}
{% block title %}Прайс-лист{% endblock %}
{% block content %}
<section class="u-clearfix u-custom-color-1 u-section-1" id="sec-c94f">
<div class="u-clearfix u-sheet u-sheet-1">
  <div class="u-expanded-width u-table u-table-responsive u-table-1">
    <table class="u-table-entity">
      <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
      </colgroup>
      <tbody class="u-table-alt-palette-1-light-3 u-table-body">
        <tr style="height: 65px;">
          <td class="u-table-cell">Column 1 </td>
          <td class="u-table-cell">Column 2 </td>
          <td class="u-table-cell">Column 3 </td>
          <td class="u-table-cell">Column 4 </td>
        </tr>
        <tr style="height: 65px;">
          <td class="u-table-cell">Row 1</td>
          <td class="u-table-cell">Description</td>
          <td class="u-table-cell">Description</td>
          <td class="u-table-cell">Description</td>
        </tr>
        <tr style="height: 65px;">
          <td class="u-table-cell">Row 2</td>
          <td class="u-table-cell">Description</td>
          <td class="u-table-cell">Description</td>
          <td class="u-table-cell">Description</td>
        </tr>
        <tr style="height: 65px;">
          <td class="u-table-cell">Row 3</td>
          <td class="u-table-cell">Description</td>
          <td class="u-table-cell">Description</td>
          <td class="u-table-cell">Description</td>
        </tr>
        <tr style="height: 65px;">
          <td class="u-table-cell">Row 4</td>
          <td class="u-table-cell">Description</td>
          <td class="u-table-cell">Description</td>
          <td class="u-table-cell">Description</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</section>
{% endblock %}